.card {
    background: #2a2e35;
    width: 18rem;
    color: aliceblue;
    text-align: center;
}

.image {
    padding: 20px;
}

.button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}
