.cardBox {
	margin: auto;
	padding-top: 10vh;
	width: fit-content;
}

.card {
	background: #2a2e35;
	width: 18rem;
	color: aliceblue;
	text-align: center;
}

.image {
	padding: 20px;
}

.button {
	width: 7rem;
	padding: 10px;
	margin: 0;
}
