.box {
	height: 600px;
	color: aliceblue;
	text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title {
	height: fit-content;
}

.speed {
	padding-top: 300px;
	margin-top: -70px;
}


.charts {
	text-align: center;
	height: 100%;
    width: 80%;
    margin: auto;
}
